@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: Rubik;
  src: url(./fonts/Rubik-VariableFont_wght.ttf)
}

@font-face {
  font-family: Rubik-italic;
  src: url(./fonts/Rubik-Italic-VariableFont_wght.ttf)
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Rubik;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
